[submodule "core/include"]
	path = core/include
	url = https://vanillamaster@bitbucket.org/vanilla-master/cef.git
	branch = include
[submodule "core/lib"]
	path = core/lib
	url = https://vanillamaster@bitbucket.org/vanilla-master/cef.git
	branch = lib
